*{ margin: 0; padding: 0; }

#wrap{ width: 100%; height: 100%; }

#stories{ height: 100px; background: lightgray; }

#contents{
	width: 80%;
	height: 100%;
	margin-left: 10%;
	display: flex;
}

.content-line{ width: calc(100%/3); padding: 10px; }
.content{
	width: 100%;
	margin: 10px;
	border-radius: 10px;
	border: 1px solid black;
}
.content-picture img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.content-menu{ margin: 5px 0; }